.header {
  padding: var(--layout-block-padding-y) 0;
  margin: 0.6em;
  background-color: var(--block-bg-primary);
  border-radius: var(--border-radius-main);
  font-size: 1rem;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  @media (max-width: 620px) {
    flex-direction: column;
  }
}

.title {
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
}

.githubLink {
  font-size: 1.5em;
  line-height: 0;
  color: var(--text-primary);
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
