.homepage {
  .container {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
  }

  .title {
    margin-bottom: 1rem;
  }

  .end-feed-message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    margin-top: 2.5rem;

    color: var(--text-secondary);
  }
}
