.footer {
  padding: var(--layout-block-padding-y) 0;
  margin: 0.6em;

  background-color: var(--block-bg-primary);
  border-radius: var(--border-radius-main);
}

.copyright {
  text-align: center;
}
