.post-item {
  display: grid;
  gap: 1em;

  padding: 1em;

  background-color: var(--block-bg-primary);
  border-radius: var(--border-radius-main);

  font-size: 1rem;

  &__header {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &__avatar {
    width: 3em;
    height: 3em;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__author {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: var(--text-hover);
    }
  }

  &__date {
    font-size: 0.8em;
    color: var(--text-secondary);
  }

  &__content {
    overflow: hidden;
  }

  &__attachments {
    display: grid;
    gap: 1em;
    margin-top: 1em;
  }

  &__text {
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 1em;
    border-top: 1px solid var(--divider-color);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1.7em;
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 0.3em;

    color: var(--text-secondary);
  }

  &__count {
    cursor: default;
  }

  &__views-count {
    cursor: default;
  }
}
