.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  min-height: calc(100vh - 66px - 50px - 50px);
}

.title {
  font-size: 6rem;
}
